<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
     <add key="defaultPushSource" value="https://devdiv.pkgs.visualstudio.com/DevDiv/_packaging/NuGet.Client-test2/nuget/v3/index.json" />
     <add key="globalPackagesFolder" value="src\packages" />
  </config>
  <packageSources>
    <clear />
    <add key="NuGet.Client-test" value="https://devdiv.pkgs.visualstudio.com/DevDiv/_packaging/NuGet.Client-test2/nuget/v3/index.json" />
  </packageSources>
</configuration>
